<table class= "attr text-light">
		<tr>

		</tr>
		<tr>
				<th><%= form.label :name, "ユーザー名" %></th>
				<td><%= form.text_field :name %></td>
		</tr>
		<tr>
				<th><%= form.label :email, "メールアドレス" %></th>
				<td><%= form.text_field :email %></td>
		</tr>

</table>




<th><%#= form.label :new_profile_picture %></th>
				<td><%#= form.file_field :new_profile_picture %></td>