
<div class="d-flex align-items-center flex-column section">
    <h1 class="text-white mb-5" >ユーザー情報の編集</h1>

	  <div><%= render 'form', user: @user %></div>

		<div><%= link_to "Myページへ戻る", @user %></div>
</div>



