<div class="d-flex align-items-center flex-column section">

    <h1 class="text-white mb-5" >New Post</h1>

    <div><%= render 'form', post: @post %></div>

    <div><%= link_to 'Back', "/" %></div>
</div>